@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Shadows+Into+Light&display=swap");

@import "tailwindcss";
@tailwind components;
@tailwind utilities;



:root {
  --background: oklch(84.133% 0.065 90.856);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: font-mono;
}

p {
  font-family: font-mono;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
